.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.postlist {
    list-style: none;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.postlist li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btns_container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.btns_container button {
    padding: 7px 20px;
    border-radius: 7px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all ease-out .3s;
}
.btns_container button:hover {
    background-color: #69cfff;
}